<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="hometab">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categoriestab">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profiletab">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>