
<ion-content  color="primary" class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="..\assets\icon\Grocart.png"/>
      </ion-col>
    </ion-row>
    
    <ion-row id="title-bar">
      <ion-col>
        <h1 color="light">Welcome to <b>GROCART</b></h1>
        <h2>One stop to all your grocery shopping</h2>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button color="light" type="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button type="block" color="primary">Sign Up</ion-button>
      </ion-col>
    </ion-row>
     

  </ion-grid>
</ion-content>
