<ion-app>
<ion-content  color="primary" class="ion-text-center">
  <ion-grid class="CardCenter">
    <ion-row>
      <ion-col >
        <img src="..\assets\icon\Grocart.png" width="400px" class="ion-padding-top"/>
      </ion-col>
    </ion-row>
    
    <ion-row id="title-bar" >
      <ion-col>
        <h1 color="light">Welcome to <b>GROCART</b></h1>
        <h2>One stop to all your grocery shopping</h2>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button expand="full" color="light" routerLink="/login" type="block">Log In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  expand="full" type="block"  routerLink="/signup">Sign Up</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
</ion-app>
