<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      <ion-title class="ion-text-center">Login</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card color="light" class="main-card">
  
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" [(ngModel)]="user.email "></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="Password"  [(ngModel)]="user.password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" class="ion-padding-vertical" size-md="6" offset="3" (click)="login(user)">Login</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    
    <div id="footer">
      <p>Not registered? <ion-button class="ion-no-border" fill="clear" routerLink="/signup">Sign Up</ion-button></p>
    </div>
    
      
  