  
  .accordion-list {
    margin-bottom: 2px;
    --ion-item-background: #fff;
  
    .section, .section-active {
      --min-height: 75px;
    }
  }
  
  .section {
    --ion-item-background: #bae8d5;
    --ion-item-color: #000;
  }
  .section-active {
    --ion-item-background: #74ddb4;
    --ion-item-color: #fff;
    font-weight: 600;
  
    ion-icon {
      color: #fff;
    }
  }
  
  .child-list {
    padding-right: 0;
    margin: 0;
  }
  
  .child {
    --ion-item-background: #fff;
    --ion-item-color: #000;
  }
  
  .product-list {
    padding: 0;
    margin: 0;
  }