<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- automaticClose = !automaticClose -->
<ion-list *ngFor="let item of information; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>
  <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
    <ion-icon slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
    <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
    <ion-label>
      {{item.name}}
    </ion-label>
  </ion-item>

  <div *ngIf="item.children && item.open">
    <ion-list class="child-list" *ngFor="let child of item.children;" lines="none">
      <ion-item >
        <ion-label>
          {{child.name}}
        </ion-label>
      </ion-item>
    </ion-list> 
  </div>

  <p *ngIf="item.children.length == 0 && item.open" align="center">No Items here</p>

    </ion-list>
</ion-content>