<ion-content>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon  name="cart-outline"></ion-icon>
        <div class="cart-length">{{cartItemCount | async}}</div>
      </ion-button>
    </ion-buttons>
    <ion-title><b>GRO</b>CART</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>
  <ion-list class="ion-no-padding" *ngFor="let p of products">
      <ion-item slot="start">
        <h4 class="namelabel">{{ p.name }}</h4>
        <h5 slot="end" class="pricelabel">{{ p.price | currency:'INR' }}</h5>
      
            <ion-row slot="end">
              <ion-col col-8>
                  <ion-button shape="round" (click)="addToCart(p,-1)">
                      <ion-icon name="remove-circle-outline"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear"> {{ p.amount }} </ion-button>
                  <ion-button shape="round" (click)="addToCart(p,1);">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
              </ion-col>
            </ion-row>
        </ion-item>

        <ion-item *ngIf="show">
           <ion-button >Hello</ion-button>
        </ion-item>
       
  </ion-list>

  
</ion-content>
