<ion-content>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon  name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>GRO</b>CART</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>


  <ion-list class="ion-align-self-center">
    
    
    <ion-item>
      <ion-label>
        <h2>Cheese</h2>
      </ion-label>
      <h5>₹30/Kg</h5>

          <ion-item class="compact">
            <ion-row no-padding>
              <ion-col col-8>
                  <button ion-button icon-only clear  (click)="changeQty(item, -1)">
                      <ion-icon name="remove-circle"></ion-icon>
                  </button>
                  <button ion-button clear color="danger"> {{ itemqty }} </button>
                  <button ion-button icon-only clear  (click)="changeQty(item, 1)">
                    <ion-icon name="add-circle"></ion-icon>
                  </button>
              </ion-col>
            </ion-row>
          </ion-item>
    </ion-item>
    
    
    
    <ion-item>
      <ion-label>
        <h2>Milk</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Cheese</h2>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
