<ion-content>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon  name="cart-outline"></ion-icon>
        <div class="cart-length">{{cartItemCount | async}}</div>
      </ion-button>
    </ion-buttons>
    <ion-title><b>GRO</b>CART</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>
  <ion-list class="ion-align-self-center">
    
    
    <ion-card *ngFor="let p of products">
      <ion-label>
        <h2>{{ p.name }}</h2>
      </ion-label>
      <h5>{{ p.price | currency:'INR' }}</h5>
          <ion-item class="compact">
            <ion-row no-padding>
              <ion-col col-8>
                  <button ion-button icon-only clear  (click)="addToCart(p,1)">
                      <ion-icon name="remove-circle"></ion-icon>
                  </button>
                  <button ion-button clear color="light"> {{ p.amount }} </button>
                  <button ion-button icon-only clear  (click)="addToCart(p,-1)">
                    <ion-icon name="add-circle"></ion-icon>
                  </button>
              </ion-col>
            </ion-row>
          </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
